body{
    background-color: black;
}
img{
    object-fit: contain;
    width: 10;
    
}
.logo1{
    background-image:url('./assets/Stocker-logos_white.png');
    background-size: contain;
    height: 50px;
    width: 150px;

}
.navbar-nav {
    margin-left: auto;
}
.font1{
    font-size: '70vmin';
}